@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .features-inactive{
    @apply text-slate-400 hover:text-slate-900 text-left text-3xl cursor-pointer leading-normal font-medium;
  }
  .features-active{
    @apply text-slate-900 text-left text-3xl cursor-pointer leading-normal font-medium;
  }
}